# Identifiants NationsGlory
NG_USERNAME=ton_pseudo
NG_PASSWORD=ton_mot_de_passe

# Clé API 2captcha (pour résoudre les CAPTCHAs automatiquement)
# Crée un compte sur https://2captcha.com, recharge 3€, copie ta clé ici
# Si tu laisses vide, les CAPTCHAs sont ignorés
CAPTCHA_APIKEY=
